<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<link rel="stylesheet" href="../css/main.css" type="text/css">
<script src="./javascript/script_main.js" defer type="text/javascript"></script>
<script src=""></script>
</head>
<body>
	<header>
		<div class="sub">
			<div class="login_logout">
				<a href="#">로그인
					<br><span>/로그아웃</span></a>
			</div>
			<div class="share">
				<a href="#">친구공유</a>
			</div>
		</div>
		<div class="insert">
			<div class="expense">
				<a href="enterExpense/expenseList">지출</a>
			</div> 
			<div class="income">
				<a href="enterIncome/income">수입</a>
			</div>
		</div>
		<div class="sub">
			<div class="board"> 
				<a href="/board/list">게시판</a>
			</div>
			<div class="QA"> 
				<a href="#">Q&A</a>
			</div>
			<div class="print">
				<a href="#">
				<input type="button" value="출력하기" id="print" onclick="window.print()"/></a>
			</div>
		</div>
		<div class="other">
			<div class="menu"><a href="#">메모장</a></div>
			<div class="cal"><a href="#">계산기</a></div>
		</div>
	</header>
	<div class="firstline"> 
		<div class="total">
			<a href="#"><h2>전체</h2></a>
		</div>
		<div class="fc">
			<a href="#"><h2>고정비용</h2></a>
		</div>
		<div class="vc">
			<a href="#"><h2>변동비용</h2></a>
		</div>
	</div>
	<div class="secondline">
		<div><a href="#"><h2>출석체크 & Todo</h2></a>
			<div class="check"><a href="#"></a></div>
			<div class="todo"><a href="#"></a></div>
		</div>
	</div>
	<div class="thirdline">
		<div class="tip"><h2>절세팁</h2></div>
		<div class="guide"></div>
	</div>
	<div class="fourthline">
		<ul>
			<li><a href="#">주식</a></li>
			<li><a href="#">적금/예금</a></li>
			<li><a href="#">환전</a></li>
			<li><a href="#">금투자</a></li>
		</ul>
		<ul>
			<li><a href="#">안전성</a></li>
			<li><a href="#">수익성</a></li>
		</ul>
	</div>
	
</body>
</html>